@import url('https://fonts.googleapis.com/css?family=Sarabun');

.limiter {
    width: 90%;
    margin: 0 auto;
    margin-left: 0px;
  }

  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    padding: 5px;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 100;
    font-family: 'Sarabun', sans-serif;
}
  
  .container-table100 {
    width: 100%;
    /*min-height: 100vh;*/
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /*padding: 33px 30px;*/
  }
  
  .wrap-table100 {
    max-width: 100%;
    width: 100%;
  }
  
  table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  table * {
    position: relative;
  }
  table td, table th {
    padding-left: 8px;
  }
  table thead tr {
    height: 33px;
    background: #43d5cb;
  }
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(195, 195, 195, 0.2) !important;
  }

  .table-striped tbody.input_fields_wrap tr:nth-of-type(odd) {
    background-color:rgba(76, 200, 152, 0.563) !important;
  }

  .input_fields_wrap tr {
    background-color:#4CC899 !important;
  }  
  table tbody tr {
    height: 40px;
  }
  table tbody tr:last-child {
    border: 0;
  }
  table td, table th {
    text-align: center;
  }
  table td.l, table th.l {
    text-align: right;
  }
  table td.c, table th.c {
    text-align: center;
  }
  table td.r, table th.r {
    text-align: center;
  }
  
  
  .table100-head th{
    font-family: 'Sarabun', sans-serif;
    font-size: 14px;
    color: #656565;
    line-height: 1.2;
    font-weight: unset;
    text-align: center;
  }
  
  tbody tr:nth-child(even) {
    background-color: rgba(76, 200, 152, 0.303);
  }
  
  tbody tr {
    font-family: 'Sarabun', sans-serif;
    font-size: 14px;
    color: #808080;
    line-height: 1.2;
    font-weight: unset;
  }
  
  tbody tr:hover {
    color: #555555;
    background-color: #f5f5f5;
  }
  
  .column1 {
    width: 30px;
    padding-left: 40px;
  }
  
  .column2 {
    width: 250px;
  }
  
  .column3 {
    width: 250px;
  }
  
  .column4 {
    width: 110px;
    text-align: center;
  }
  
  .column5 {
    width: 30px;
    text-align: center;
  }
  
  .column6 {
    width: 190px;
    text-align: center;
    padding-right: 62px;
  }

  .column6 form{
    display: inline-block;
  }

  .column6 button.desactivar{
      color: #CCCCCC;
      margin: 10px;
      display: inline-block;
      cursor: pointer;
  }
  .column6 button.desactivar:hover{
      color: #dedede;
      text-decoration: none;
  }

  .column6 button.eliminar{
    color: #A13939;
    display: inline-block;
    cursor: pointer;
  }
  .column6 button.eliminar:hover{
    color: #E75151;
    text-decoration: none;
  }  
  
  
  @media screen and (max-width: 992px) {
    table {
      display: block;
    }
    table > *, table tr, table td, table th {
      display: block;
    }
    table thead {
      display: none;
    }
    table tbody tr {
      height: auto;
      padding: 37px 0;
    }
    table tbody tr td {
      padding-left: 40% !important;
      margin-bottom: 24px;
    }
    table tbody tr td:last-child {
      margin-bottom: 0;
    }
    table tbody tr td:before {
      font-family: 'Sarabun', sans-serif;
      font-size: 14px;
      color: #999999;
      line-height: 1.2;
      font-weight: unset;
      position: absolute;
      width: 40%;
      left: 30px;
      top: 0;
    }
    table tbody tr td:nth-child(1):before {
      content: "Date";
    }
    table tbody tr td:nth-child(2):before {
      content: "Order ID";
    }
    table tbody tr td:nth-child(3):before {
      content: "Name";
    }
    table tbody tr td:nth-child(4):before {
      content: "Price";
    }
    table tbody tr td:nth-child(5):before {
      content: "Quantity";
    }
    table tbody tr td:nth-child(6):before {
      content: "Total";
    }

  
    .column4,
    .column5,
    .column6,
    .column1,
    .column2,
    .column3 {
      width: 100%;
    }
  
    tbody tr {
      font-size: 14px;
    }
  }
  
  @media (max-width: 576px) {
    .limiter {
        width: 95%;
    }
  }

  .btn-exportar{
    background: #84b708;
    -webkit-appearance: none;
    border-radius: 30px;
    padding: 5px 10px;
    color: #FFFFFF;
    text-shadow: 0px 0px 10px #272727;
    font-size: 11px;
    margin-top: 11px;
    cursor: pointer;
  }